.container
  .row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading.text-center
        %h4= @patrol.name
      .panel-body
        %p
          %b= "Troop:"
          = link_to @patrol.troop.full_name, @patrol.troop
        %p
          %b= "Scouts:"
          %ul
            - @scouts.each do |scout|
              %li
                = link_to scout.full_name, scout



        = link_to 'Edit', edit_patrol_path(@patrol)
        \|
        = link_to 'Back', patrols_path
