.text-center
  = simple_form_for(@order) do |f|
    = f.error_notification
    %h4
      = @order.full_number
    %p
      %b
      =link_to @order.troop.full_name, @order.troop
    .form-inputs
      = f.input :quote
    -if @opened_badges
      %p
      %b= "Opened Badges:"
      %ul
        - @opened_badges.each do |badge|
          %li
            = link_to badge.scout.full_name, badge.scout
            = "-"
            =  "#{badge.name} #{badge.stars}"
    -if @closed_badges
      %p
        %b= "Closed Badges:"
        %ul
          - @closed_badges.each do |badge|
            %li
              = link_to badge.scout.full_name, badge.scout
              = "-"
              = "#{badge.name} #{badge.stars}"
    .form-actions
      = f.button :submit, class: 'btn btn-success'
