.container
  .row
    .col-md-6.col-md-offset-3
      .text-left
        %p
          = @header.html_safe
      .text-center
        %p
          = @middle.html_safe
      %p
        %ol
          %li Sprawności
          %ol
            - @badges.each do |badge|
              %li= badge.html_safe
      .text-right
        %p
          = @signature.html_safe



      = link_to 'Edit', edit_order_path(@order)
      \|
      = link_to 'Back', orders_path
